html {
	height: 100%;
	max-height: 100%;
	font-size: 100%;
}

body {
	font-family: $roboto;
	font-size: 1.0rem;
	line-height: 1.5em;
	color: $dark-grey;
}

/*
Clearfix
 */
.clearfix {
	zoom: 1;
	&:before {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}