h1 {
	font-family: $roboto;
	font-weight: normal;
	font-size: 2.5em;
	line-height: 1.125;
	padding-top: 1em;
	margin-bottom: 0.3em;
	color: #444;
	border-bottom: 0.2em solid #693;
}

h2 {
	font-family: $roboto;
	font-weight: normal;
	font-size: 1.875em;
	line-height: 1.5;
	padding-top: 0.8333em;
	margin-bottom: 0.7em;
	color: #555;
	border-bottom: 0.13333em solid #693;
}