/*
Header bar
 */
.header-bar {
	width: 100%;
	// position: absolute; // Commented out so that it appears in pattern box, not along top
	// top: 0;
	// left: 0;

	div {
		width: 10%;
		height: 6px;
		display: inline;
		float: left;

		&:nth-child(1) {
			background: $light-green;
		}

		&:nth-child(2) {
			background: $dark-green;
		}

		&:nth-child(3) {
			background: $turqoise;
		}

		&:nth-child(4) {
			background: $light-blue;
		}

		&:nth-child(5) {
			background: $dark-purple;
		}

		&:nth-child(6) {
			background: $light-purple;
		}

		&:nth-child(7) {
			background: $light-red;
		}

		&:nth-child(8) {
			background: $orange;
		}

		&:nth-child(9) {
			background: $yellow;
		}

		&:nth-child(10) {
			background: $light-grey;
		}
	}
}

/*
Logo
 */
.logo {
	margin-top: 55px;
	margin-bottom: 10px;
	line-height: 0.7em;
	font-size: 2.5rem;

	a {
		color: $main-header-color;
		line-height: 1em;
		display: inline-block;

		& > span {
			float: left;
		}

		.name {
			width: 150px;
			text-align: right;
		}

		.pipe {
			border-left: 1px solid $main-header-color;
			height: 77px;
			margin: 0 10px;
		}

		.nick {
			width: 155px;
			text-align: left;
		}

		.thin {
			font-weight: lighter;
			font-style: italic;
		}

		&:visited {
			color: $main-header-color;
		}

		&:hover, &:focus {
			color: $main-header-highlight-color;
		}
	}
}
