/*
Header bar
 */
.header-bar {
	width: 100%;
	// Commented out so that it appears in pattern box, not along top
	// position: absolute;
	// top: 0;
	// left: 0;

	div {
		width: 10%;
		height: 6px;
		display: inline;
		float: left;

		&:nth-child(1) {
			background: $light-green;
		}

		&:nth-child(2) {
			background: $dark-green;
		}

		&:nth-child(3) {
			background: $turqoise;
		}

		&:nth-child(4) {
			background: $light-blue;
		}

		&:nth-child(5) {
			background: $dark-purple;
		}

		&:nth-child(6) {
			background: $light-purple;
		}

		&:nth-child(7) {
			background: $light-red;
		}

		&:nth-child(8) {
			background: $orange;
		}

		&:nth-child(9) {
			background: $yellow;
		}

		&:nth-child(10) {
			background: $light-grey;
		}
	}
}

/*
Logo
 */
.logo {
	@media #{$mobile} {
		font-size: 1.2rem;
	}

	font-size: 2.5rem;

	a {
		color: $main-header-color;
		line-height: 1em;
		display: inline-block;

		& > span {
			float: left;
			padding-right: 10px;

			&:last-of-type {
				padding-right: 0;
				padding-left: 10px
			}
		}

		.name {
			text-align: right;
			border-right: 1px solid $main-header-color;
		}

		.nick {
			text-align: left;
		}

		.thin {
			font-style: italic;
		}

		&:visited {
			color: $main-header-color;
		}

		&:hover, &:focus {
			color: $main-header-highlight-color;
		}
	}
}

/*
Top Nav
 */
.nav {
	&.top-nav {
		padding-left: 0;

		a {
			padding: 6px;
		}
	}

	li {
		&.active, &.active a	 {
			color: $nav-highlight-color;
			cursor: pointer;
		}

		a {
			display: block;
			padding: 10px;
			color: $nav-color;

			&:hover, &:focus {
				color: $nav-highlight-color;
			}
		}
	}

}