/*
General
 */
.caps {
	text-transform: uppercase;
}

p, ul, ol {
	margin: 1em 0;
}

/*
Lists
 */
ol ol, ul ul, ul ol, ol ul {
	margin: 0.4em 0;
}

/*
Headers
 */
h1, h2, h3, h4, h5, h6 {
	text-rendering: optimiseLegibility;
	line-height: 1;
	margin-top: 0;
	font-weight: 500;
}

h1 {
	font-size: 3rem;
	line-height: 1.2em;
}

h2 {
	font-size: 1.7rem;
	line-height: 1.2em;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.3rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1.05rem;
}

/*
Links
 */
a {
	color: $link-color;
	text-decoration: none;

	&:hover, &:focus {
		color: $link-highlight-color;
		text-decoration: none;
	}
}

/*
Blockquote
 */
blockquote {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 1.6em 0;
	padding: 0 0 0 1.3em;
	border-left: $light-grey 0.4em solid;

	p {
		margin: 0.8em 0;
		font-style: italic;
	}

	footer {
		display: inline-block;
		margin: 0.3em 0 0.3em 0.7em;
		font-size: 0.9em;
		color: $med-grey;

		cite {
			font-style: normal;
		}
	}
}